<h1>Saison <%= @season.number %> <% if !@season.show.nil? %> de <%= @season.show.title %><% end %></h1>

<p>Numéro: <%= @season.number %></p>
<p>
  Série:
  <% show = @season.show %>
  <% if show.nil? %>
    &empty;
  <% else %>
    <%= show.title %>
  <% end %>
</p>
<p>
  Liste des épisodes :
  <br>
  <%= render 'seasons/episodes_list', episodes: @season.episodes %>
</p>
<p>
  <% if user_signed_in? %>
    <%= link_to 'Modifier', edit_season_path(@season), class: 'btn btn-warning' %>
  <% end %>
  <%= link_to 'Retour à la liste des saisons', seasons_path, class: 'btn btn-default' %>
</p>
