<p id="notice"><%= notice %></p>

<p>
  <strong>Titre :</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Storyline:</strong>
  <%= @episode.storyline %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @episode.runtime %> minutes
</p>

<p>
  <strong>Release at:</strong>
  <%= @episode.release_at %>
</p>


<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"><strong><%= @episode.comments.count %></strong> Comments</h2>
    <%= render @episode.comments %>
    <div class="comment-form">
      <hr />
      <h3 class="subtitle is-3">Leave a reply</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
