<%= simple_form_for(@company) do |form| %>
  <div class="row">
    <div class="form-group col-lg-6">
      <%= form.input :name, label: 'Nom', class: 'form-control' %>
    </div>
    <div class="form-group col-lg-6">
      <%= form.input :icon, label: 'Image de couverture', class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Enregistrer', class: 'btn btn-primary' %>
    <%= link_to 'Retour à la liste des sociétés de production', companies_path, class: 'btn btn-default' %>
  </div>
<% end %>