<%= simple_form_for(@users_episodes) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :storyline %>
    <%= f.input :image, as: :file%>
    <%= f.input :runtime %>
    <%= f.input :release_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>