<p id="notice"><%= notice %></p>

<h1>Series</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Synopsis</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Nationality</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= series.name %></td>
        <td><%= series.synopsis %></td>
        <td><%= series.startDate %></td>
        <td><%= series.endDate %></td>
        <td><%= series.nationality %></td>
        <td><%= series.cover %></td>
        <td><%= link_to 'Show', series %></td>
        <td><%= link_to 'Edit', edit_series_path(series) %></td>
        <td><%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Series', new_series_path %>
