<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="with=device.with, initial-scale=1">
    <title>Shirizu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag "logo.png", style: 'with : 120%; height : 120%'%></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to '', root_path, :class => 'glyphicon glyphicon-home'%></li>
          <li><a href="#"></span> Explore</a></li>
          <li><a href="#"></span> About</a></li>
          <% if user_signed_in? %>
            <li><%= link_to current_user.username, edit_user_registration_path, :class => 'glyphicon glyphicon-user'%></li>
            <li><%= link_to ' Déconnexion', destroy_user_session_path, method: :delete, :class => 'glyphicon glyphicon-log-out' %></li>
          <% else %>
          <li><%= link_to ' Connexion', new_user_session_path, :class => 'glyphicon glyphicon-log-in' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container">
        
        <div class="row">
          <div class="col-xs-12 text-center">
              

            <nav class="navbar navbar-inverse invers2">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Trouvez vos Série!</a>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-3">
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Séries', shows_path, class: '' %></li>
                    <li><%= link_to 'Sociétés', companies_path, class: '' %></li>
                    <li><%= link_to 'Saisons', seasons_path, class: '' %></li>
                    <li><%= link_to 'Episodes', episodes_path, class: '' %></li>
                    <li class="s-icon">
                      <a href="#" id="addClass"><span class="glyphicon glyphicon-search"></span></a>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container -->
            </nav><!-- /.navbar -->
            <%= yield %>
            <div id="qnimate" class="off">
              <div id="search" class="open">
              <button data-widget="remove" id="removeClass" class="close" type="button">×</button>
              <form action="" method="" autocomplete="off">
                      <input type="text" placeholder="Recherchez Vos Séries ici !" value="" name="term" id="term">
                      <button class="btn btn-lg btn-site" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
              </form>
              <small style="text-align: center; color: rgb(0, 0, 0); position: absolute; left: 0px; right: 0px; bottom: 70px; font-size: 16px;"></small>
              </div>
            </div>
                
                
            
          </div>
        </div>
       
    </div>
  </body>
</html>
